.top-bar {
  background-color: $gray_background;
  padding: 1rem;
  color: $light_text;
  word-wrap: break-word;

  .top-bar_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .start-button {
      // background-color: $dark_background;
      background-color: $emphasis_orange;
      color: $black_text;
      padding: 4px 16px 6px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: lighten($color: $emphasis_orange, $amount: 10);
      }
      &:active {
        background-color: lighten($color: $emphasis_orange, $amount: 15);
      }
    }

    .greeting {
      margin: 0 2rem;
      text-align: right;
    }

    .container_clock-wrapper {
      margin-left: auto;
      background-color: $dark_background;
      padding: 4px 16px 6px;
      border-radius: 4px;
      color: $muted_text;
      text-align: right;
    }
  }
}
