.os {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem 0;

  @media screen and (min-width: 48rem) {
    grid-template-columns: 50% 50%;

    .os_func-wrapper {
      &:nth-child(odd) {
        margin-left: 0.5rem;
      }
      &:nth-child(even) {
        margin-right: 0.5rem;
      }
      &:nth-child(2) {
        grid-row: 1;
      }
    }
  }
}
