.os {
  display: grid;
  grid-template-columns: 100%;

  @media screen and (min-width: 48rem) {
    grid-template-columns: 50% 50%;

    .os_func-wrapper:nth-child(2) {
      grid-row: 1;
    }
  }
}
