$emphasis_orange: #dc3b00;
$dark_background: #1e2125;
$dark_gray_background: #22262b;
$gray_background: #2d3036;
$light_gray_background: #626d7a;
$light_background: #a9bace;
$black_text: #1a1b1e;
$dark_text: #585858;
$muted_text: #878787;
$light_text: #bbbbbb;
